body {
	background: linear-gradient(to right, #0000ff, #ff0000); /* Standard syntax */
}

#userinput{
    width:230px;
}

#first{
    text-align: center; 
    margin-top:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
}

